*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /*background-color: black;*/
    font-family: "Al Nile",sans-serif;
    font-size: 16px;
    color: black;
    /*background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));*/
}
.container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20%;
}
.weathercard{
    height: 100%;
    width: 50%;
    color: white;
    border: 1px solid black;
    border-radius: 3%;
    /*background: red;*/
}
.location{
    display: flex;
    justify-content: space-around;
    background-color: darkblue;
    opacity: 0.5;
    color: white;
    height: 60%;
    border-radius: 3%;
}
.weatherdetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.weathericon{
    align-self:center;
}

.location-timezone {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    margin-top: 10px;
    padding-bottom: 5px;
}
.temperature-description {
    text-transform: uppercase;
    font-size: 15px;
}
